code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}

pre[class*="language-"] {
  font-size: 0.9em;
  border-radius: 2px;
  margin-bottom: 2em !important;
}

code:not([class*='language']) {
  font-size: 0.9em;
  border-radius: 2px;
  background-color: lighten($color-carrot, 42%);
  color: darken($color-carrot, 5%);
  padding: 0.2rem 0.4rem;
}
